<div class="row">
	<div class="six columns centered">
		<h2>Sign in</h2>
	</div>
</div>
<div class="panel">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="row">
			<div class="two columns">
				<%= f.label :email, :class => "right inline" %>
			</div>
			<%= f.email_field :email, :class => "four columns" %>
			<div class="two columns">
				<%= f.label :password, :class => "right inline" %>
			</div>
			<%= f.password_field :password, :class => "four columns" %>
		</div>
		<br />
		<div class="row">	
			<div class="two columns centered">
				<%= f.submit "Sign in", :class => "button" %>
			</div>
		</div>
		<div class="row">
			<div class="two columns centered">
				<br />
				<br />
				<% if devise_mapping.rememberable? -%>
					<%= f.check_box :remember_me, :class =>"right inline custom checkbox" %> 
					<%= f.label :remember_me %>
				<% end -%>
			</div>
		</div>
	<% end %>
</div>
<div class="row">
	<div class="two columns centered">
		<p>
			<%= render "devise/shared/links" %>
		</p>
	</div>
</div>
