<div>

<%= form_for @search, :url => {:action => "index" }, :method => :get do |form| %>
	<%= form.text_field :query %>
	<%= form.submit "Search" %>
<%- end %>

</div>

<%- if @search.name %>
	<ul>
	<%- for name in @search.name %>
		<li> 
			<%= name %> 
			<%= form_for Beer.new, :method => :post do |form| %>
				<%= hidden_field_tag("beer[name]", name) %>
				<%= hidden_field_tag("beer[user_id]", current_user.id) %>
				<%= form.submit "Add" %>
			<%- end %>
	    </li>
	<%- end %>
	</ul>
<%- end %>