<div class="panel">
	<div class="six columns centered">
		<%= form_for @search, :url => {:action => "index" }, :method => :get do |form| %>
			<%= form.text_field :query %>
			<%= form.submit "Search", :class => "button" %>
		<%- end %>
	</div>
</div>

<%- if @search.name %>
<ul style="list-style-type: none">
<%- for name in @search.name %>
	<div class="row">
		<div class="seven columns centered">

		<li class="panel"> 
			<div class="five columns">
				<%= name %>
			</div> 
			<%= form_for Beer.new, :method => :post do |form| %>
				<%= hidden_field_tag("beer[name]", name) %>
				<%= form.submit "Add", :class => "button" %>
			<%- end %>
	    </li>
	</div>
	</div>
<%- end %>
</ul>
<%- end %>